.btn{
    margin-left:1%;
    margin-right:1%;
}
.chip{
    margin-top:2px;
    margin-left:2px;
    margin-right:2px;
    font-size:8px;;
}
#resultsGoHere{
    text-overflow:scroll;
    width:100%;
    height:200px;
}
#myH3{
    min-height:14vh;
}